/* start of reset*/
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.cf:after {
    content: " ";
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*end of reset*/



.container {
    min-width: 1280px;
    background-color: #fff;
    font-family: "Microsoft Yahei";
}
/*start of header*/
header {
    position: relative;
    height: 57px;
    padding: 0 24px 0 59px;
    /*background-color: #7fff00;*/
}
/*logo图标和文字*/
.logo {
    display: inline-block;
    background: url("img/logo.png") no-repeat;
    width: 31px;
    height: 31px;
    vertical-align: middle;
}
.logo + span {
    display: inline-block;
    font-size: 21px;
    vertical-align: middle;
    font-weight: 500;
}
/*ghost伪元素加在父元素身上实现垂直居中，同时设置父元素的position:relative 子元素vertical-align:middle*/
.ghost:after {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1%;
}
/*导航栏*/
nav {
    position: absolute;
    right: 59px;
    top: 0;
}
nav a {
    font-size: 14px;
    color: #787b83;
    float: left;
    padding: 18px 22px;
}
nav a:hover {
    color: #e74f4d;
    border-bottom: 4px solid #e74f4d;
}
.login {
    position: relative;
}
.login img {
    background: url("img/login.png") no-repeat;
    width: 14px;
    height: 17px;
    position: absolute;
    left: -2px;
}


/*end of header*/
/*横幅广告*/
.banner {
    background: url("img/banner.jpg") no-repeat;
    width: 1280px;
    height: 691px;
}
.banner-title {
    position: absolute;
    top: 229px;
    left: 116px;
    color: #fff;
}
.banner-title h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-title p {
    margin: 0 0 66px 10px;
    width: 294px;
    font-size: 21px;
    line-height: 30px;
}
.banner-title a {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    width: 331px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #e8504f;
    color: #fff;
}

/*广告业务*/
.business div{
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 50px 0;
    text-align: center;
}
.banner img {
    display: block;

}
.business p {
    margin-top: 45px;
    font-size: 14px;
    padding: 2px 80px 10px 80px;
    border-right: 2px solid #c1bcbc;
    color: #767777;
}
.business div:last-child p{
    border-right: none;
}
/*关于新世界*/
.about-world {
    height: 360px;
    text-align: center;
    background-color: #ededed;
}
.about-world img {
    margin-top: 80px;
}
.about-world p {
    font-size: 54px;
    color: #A0A0A0;
    margin-top: 35px;
}
/*查找新世界*/
.find-world {
    position: relative;
    /*background: url("img/find-world.jpg") no-repeat;*/
    width: 100%;
    height: 338px;
    text-align: center;
    color: #fff;
}
.img-warp {
    background-color: rgba(255, 0, 0, .1);
    width: 1280px;
    height: 338px;
    position: absolute;
    top: 0;
    left: 0;
}
.find-world > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 338px;
}
.find-world h2 {
    margin-top: 0;
    font-size: 21px;
    font-weight: 400;
    padding-top: 50px;
}
/*在城下面插入白色底线*/
.subline:after {
    content: "";
    width: 32px;
    border-bottom: 2px solid #fff;
    display: block;
    margin: 0 auto;
    height: 10px;
}

.find-world > p {
    font-size: 12px;
    margin-bottom: 50px;
}
.select {
    position: relative;
    /*background: url("img/down-arrow.png") no-repeat 95% 50% #fff;*/
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    width: 236px;
    margin: 0 15px;
    font-size: 12px;
    vertical-align: top;
    background-color: #fff;
}
.select img {
    position: absolute;
    top: 9px;
    right: 10px;
}
.select p {
    margin: 0;
    text-align: left;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
}
.select:hover ul {
    display: block;
}
.select:hover {
    outline: 1px solid #be4e48;
}
.search {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 236px;
    margin: 0 15px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
}
.search p {
    background-color: #be4e48;
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.search span {
    padding-right: 20px;
}

.select ul {
    position: relative;
    display: none;
}
.select li {
    height: 36px;
    line-height: 36px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
    width: 236px;
    color: #666;
    background-color: #E4E2E5;
}
.select li:hover {
    color: #fff;
    background: #be4e48;
}
.checked:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    position: absolute;
    left: 9px;
    top: 13px;
    background: url("img/checked.png") no-repeat;
}
/*画廊展示*/
.gallery {
    background-color: #f7f7f7;
    text-align: center;
    margin: 0 auto;
}
.gallery div {
    vertical-align: top;
    display: inline-block;
    margin: 80px 14px;
    font-size: 12px;
}
.gallery img {
    width: 202px;
    height: 312px;
    padding: 10px 8px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.gallery h2,
.gallery h4,
.gallery p {
    margin: 0;
}
.gallery h4 {
    font-size: 14px;
    padding: 8px;
}
.gallery p {
    color: #999;
    padding-bottom: 10px;
}
.gallery h2 {
    font-size: 24px;
    padding-bottom: 2px;
    letter-spacing: 35px;
    margin-right: -27px;
    font-weight: 400;
}
/*新世界TIME*/

.newtime-banner {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/new-time.jpg") no-repeat;
    width: 66.67%;
    height: 566px;
    text-align: center;
}
.newtime-info {
    color: #fff;
}
.newtime-info h4 {
    font-size: 50px;
    margin: 0;
}
.newtime-info h2 {
    font-size: 158px;
    margin: -40px 0 -15px ;
}
.newtime-info p {
    font-size: 22px;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    line-height: 40px;
}
.newtime-detail {
    float: left;
    text-align: center;
    width: 33.33%;
    height: 566px;
}
.newtime-detail h3 {
    margin-top: 170px;
    font-weight: 400;
    letter-spacing: 2px;
}
.newtime-detail span {
    color: #ea4f4d;
}
.newtime-detail p {
    font-size: 12px;
    line-height: 2.5;
    color: #aaaaaa;
    padding: 0 65px;
    text-align: justify;
}
.newtime-detail h5 {
    display: inline-block;
    padding: 7px 25px;
    color: #ea4f4d;
    border: 1px solid #ea4f4d;
    font-size: 14px;
    font-weight: 400;
}
.newtime-detail img {
    margin: 0 5px;
}
/*新时代关于我们的生活*/
.new-age > div {
    width: 33.333%;
    height: 519px;
    float: left;
    text-align: center;
    font-size: 18px;
}
.card-1,
.card-2 {
    display: table;
}
.card-1 {
    background-color: #ea4f4d;
    color: #fff;
}
.card-2 {
    background-color: #fff;
    /*color: #ea4f4d;*/
}
.card-3 {
    position: relative;
    background: url("img/girl_05.jpg") no-repeat;
}
.card-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.card-child p {
    margin: 5px;
}
.card-1 h3 {
    font-weight: 400;
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #fff;
}
.card-2 h3 {
    font-weight: 400;
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #ea4f4d;
    color: #ea4f4d;
}
.subline-2:after {
    content: "";
    width: 30px;
    display: block;
    margin: 0 auto;
    height: 20px;
    border-bottom: 2px solid #fff;
}
.subline-3:after {
    content: "";
    width: 30px;
    height: 20px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #999;
}
.triangle {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #fff;
    border-bottom: 14px solid transparent;
    border-top: 14px solid transparent;
}
/*志愿者招募*/
.volunteer {
    text-align: center;
    margin: 0 150px;
}
.volunteer-info {
    margin: 100px 0;
}
.volunteer-info p {
    color: #787b83;
    font-size: 12px;
    width: 43%;
    margin: 0 auto;
}
.subline-red:after {
    content: "";
    width: 30px;
    height: 10px;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #ea4f4d;
}

.volunteer-detail {
    box-sizing: border-box;
    float: left;
    width:  33.333%;
    padding: 0 18px;
    text-align: left;
    color: #666;
}
.volunteer-detail h4 {
    margin: 0;
    font-weight: 400;
}
.volunteer-detail p {
    font-size: 12px;
    margin: 25px 0 0;
    color: #787b83;
}
.volunteer-detail p span {
    letter-spacing: 5px;
}
.more {
    text-align: right;
    font-size: 12px;
    color: #787b83;
    margin-bottom: 15px;
}
.more img {
    margin-right: 10px;
}
.volunteer-form {
    box-sizing: border-box;
    float: left;
    width: 66.667%;
    font-size: 12px;
    margin-bottom: 150px;
    padding-left: 50px;
}

.user-default {
    background-color: #ededef;
    margin-bottom: 14px;
    width: 48.5%;
    text-align: left;
    height: 40px;
    line-height: 40px;

}
.user-default  label{
    padding: 10px;
    width: 20%;
}
.user-default  input {
    width: 70%;
    background-color: #ededef;
    outline: none;
    border: 0;
}
.user-describe  {
    clear: both;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background-color: #ededef;
    text-align: left;

}
.user-describe label {
    font-size: 12px;
    display: block;
    padding: 10px 0 0 10px;
    /*padding-top: 10px;*/
}
.user-describe textarea {
    padding-left: 10px;
    width: 98%;
    height: 70px;
    border: 0;
    outline: none;
    resize: none;
    background-color: #ededef;
}
.volunteer-form button {
    width: 100%;
    padding: 10px;
    border: 0;
    font-size: 14px;
}


/*start of footer*/
.contact-us {
    background-color: #32353e;
    display: table;
    width: 100%;
    height: 380px;
    text-align: center;
    color: #fff;
}
.contact-us-child {
    display: table-cell;
    vertical-align: middle;
}
.contact-us-child {
    font-size: 12px;
}
.contact-us-child p {
    padding: 0 400px;
}
.contact-us-child img {
    margin: 15px 10px;
}
.contact-us-child form {
    font-size: 0;
    vertical-align: middle;
    margin: 25px 0;
}
.contact-us-child input {
    font-size: 16px;
    width: 430px;
    padding: 0;
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
}
#button {
    background-color: #717179;
    width: 80px;
    font-size: 16px;
    border: none;
    letter-spacing: 8px;
    padding-left: 10px;
    /*word-spacing: .4em;*//*只对input的value有效*/
}


.footer-back {
    position: relative;
    background-color: #2f3038;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
}
.footer-back span {
    margin-left: 100px;
}
.footer-back a {
    position: absolute;
    right: 30px;
    color: #fff;
}