/* start of reset*/
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.cf:after {
    content: " ";
    display: block;
    clear: both;
}
/*end of reset*/



.container {
    min-width: 1280px;
    background-color: #fff;
    font-family: "Microsoft Yahei";
}
/*start of header*/
header {
    position: relative;
    height: 57px;
    padding: 0 24px 0 59px;
    /*background-color: #7fff00;*/
}
/*logo图标和文字*/
.logo {
    display: inline-block;
    background: url("img/logo.png") no-repeat;
    width: 31px;
    height: 31px;
    vertical-align: middle;
}
.logo + span {
    display: inline-block;
    font-size: 21px;
    vertical-align: middle;
    font-weight: 500;
}
/*ghost伪元素加在父元素身上实现垂直居中，同时设置父元素的position:relative 子元素vertical-align:middle*/
.ghost:after {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 1%;
}
/*导航栏*/
nav {
    position: absolute;
    right: 59px;
    top: 0;
}
nav a {
    font-size: 14px;
    color: #787b83;
    float: left;
    padding: 18px 22px;
}
nav a:hover {
    color: #e74f4d;
    border-bottom: 4px solid #e74f4d;
}
.login {
    position: relative;
}
.login img {
    background: url("img/login.png") no-repeat;
    width: 14px;
    height: 17px;
    position: absolute;
    left: -2px;
}


/*end of header*/
/*横幅广告*/
.banner {
    background: url("img/banner.jpg") no-repeat;
    width: 1280px;
    height: 691px;
}
.banner-title {
    position: absolute;
    top: 229px;
    left: 116px;
    color: #fff;
}
.banner-title h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-title p {
    margin: 0 0 66px 10px;
    width: 294px;
    font-size: 21px;
    line-height: 30px;
}
.banner-title a {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    width: 331px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #e8504f;
    color: #fff;
}

/*广告业务*/
.business div{
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 50px 0;
    text-align: center;
}
.banner img {
    display: block;

}
.business p {
    margin-top: 45px;
    font-size: 14px;
    padding: 2px 80px 10px 80px;
    border-right: 2px solid #c1bcbc;
    color: #767777;
}
.business div:last-child p{
    border-right: none;
}
/*关于新世界*/
.about-world {
    height: 360px;
    text-align: center;
    background-color: #ededed;
}
.about-world img {
    margin-top: 80px;
}
.about-world p {
    font-size: 54px;
    color: #A0A0A0;
    margin-top: 35px;
}
/*查找新世界*/
.find-world {
    background: url("img/find-world.jpg") no-repeat ;
    width: 100%;
    height: 338px;
    text-align: center;
    color: #fff;
}

.find-world h2 {
    margin-top: 0;
    font-size: 21px;
    font-weight: 400;
    padding-top: 50px;
}
/*在城下面插入白色底线*/
.subline:after {
    content: "";
    width: 32px;
    border-bottom: 2px solid #fff;
    display: block;
    margin: 0 auto;
    height: 10px;
}
.find-world > p {
    font-size: 12px;
    margin-bottom: 50px;
}
.select {
    position: relative;
    /*background: url("img/down-arrow.png") no-repeat 95% 50% #fff;*/
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    width: 236px;
    margin: 0 15px;
    font-size: 12px;
    vertical-align: top;
    background-color: #fff;
}
.select img {
    position: absolute;
    top: 9px;
    right: 10px;
}
.select p {
    margin: 0;
    text-align: left;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
}
.select:hover ul {
    display: block;
}
.select:hover {
    outline: 1px solid #be4e48;
}
.search {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 236px;
    margin: 0 15px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
}
.search p {
    background-color: #be4e48;
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.search span {
    padding-right: 20px;
}

.select ul {
    position: relative;
    display: none;
}
.select li {
    height: 36px;
    line-height: 36px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
    width: 236px;
    color: #666;
    background-color: #E4E2E5;
}
.select li:hover {
    color: #fff;
    background: #be4e48;
}
.checked:before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    position: absolute;
    left: 9px;
    top: 13px;
    /*vertical-align: middle;*/
    background: url("img/checked.png") no-repeat;
}