/*start of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,input,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
body {
    background-color: #eee;
    font-size: 62.5%;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
}
/*end of reset*/


/*start of header*/
.header {
    position: relative;
	width: 100%;
	height: 60px;
	background-color: #000;
}
/*
 *利用幽灵伪元素辅助垂直居中，.ghost伪元素加到需要垂直居中子元素的父元素上，同时设置父元素position:relative
 *同时设置子元素vertical-align:middle，display:inline-block
*/
.ghost:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 30px;
    vertical-align: middle;
}
.header > a {
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    /*left: 40px;*/
    /*bottom: 1px;*/
    background: url("http://7xrwo9.com1.z0.glb.clouddn.com/xhp_logo.png") no-repeat;
    width: 100px;
    height: 50px;
    text-indent: -999em; /* 在标签里输入文字有利于seo和阅读器识别，然后利用text-indent隐藏掉，显示背景图*/
}
.header ul {
    float: right;
    margin-right: 20px;
    height: 60px;
    line-height: 60px;
}
.header li {
    float: left;
    margin: 0 10px;
    font-size: 0.9rem;
}
.header li a:hover {
    color: #999;
}
/*end of header*/


/*start of body*/
.main-primary {
    /*float: left;*/
    overflow: hidden;
}
article {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 1px #999;
    background-color: #fff;
}
article h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #c71585;
}
article h2 {
     margin-bottom: 15px;
     font-size: 1.6rem;
    color: #7fff00;
 }
article span {
    font-size: 0.8rem;
    color: #6495ed;
}
article p {
     margin-bottom: 10px;
     font-size: 1.2rem;
    text-indent: 2em;
 }
article p > a {
    color: #e5970f;
    text-decoration: underline;
}
article p + img {
    display: block;
    margin-bottom: 10px;
    border: 2px solid #555;
    max-width: 100%;
    height: auto;
}
article > div {
    margin-bottom: 10px;
}
article ul li {
    line-height: 1.5;
    font-size: 1rem;
}
article ul li:nth-child(2n+1) {
    color: #006400;
}
article .img {
    /*font-size: 0;*/
    float: left;
    /*width: 150px;*/
    /*padding: 10px;*/
    margin: 5px;
    border: 1px solid #999;
}
article .img img {
    display: block;
    width: 150px;
    height: auto;
}
article ol {margin-bottom: 10px;}
article ol li {
    line-height: 1.5;
    font-size: 1rem;
}
article table {
    width: 100%;
    border: 1px solid #000;
    line-height: 2;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}
article table caption {
    font-size: 1.6rem;
    font-weight: 700;
    color: #00f;
}
article table th {
    background-color: #6495ed;
}
article table tr:nth-child(2n) {
    color: #fff;
    background-color: #00f;
}
article table tr:nth-child(2n+1) {
    color: #333;
    background-color: #aaa;
}
/*以后的侧边栏*/
aside {
    float: right;
    width: 250px;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 1px #999;
    background-color: #fff;
}
aside h1 {
    margin-bottom: 20px;
    border-left: 4px solid #e5970f;
    font-size: 2rem;
    color: #c71585;
}
aside textarea {
    width: 240px;
    height: 200px;
}
aside form input {
    border: 1px solid #999;
}
.form-group {
    margin-bottom: 15px;
}
/*
 * 让div下的span元素左浮动后inline-block化，显性设置宽度 + text-align：right
 * 可以让span元素相对div里的input元素右对齐，然后通过右外边距留空白
*/
.form-group span {
    display: inline-block;
    /*width: 30%;*/
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: right;
}
.form-hint {
    /*width: 46%;*/
    margin-bottom: 20px;
    color: #999;
    /*text-align: right;*/
    text-align: left;
}
.button {
    display: block;
    padding: 10px 0;
    width: 100%;
    border-radius: 4px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
/*end of body*/


/*start of footer*/
.footer {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #000;
}
.footer h5 {
    padding-top: 20px;
    color: #fff;
}
/*end of footer*/